@charset "utf-8";

body{
    background-color: #F6F5F5;
    margin: 0px;
    padding: 0px;
    background-image: url("resources/images/background.png");
    background-repeat: repeat-y;
    background-position: 85%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

section{
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #6bd5dd;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    padding: 0px 5%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin: 20px;
    font-family: verdana;
    color: #3a3a3a;
    font-size: 15px;
    font-weight: 700;
}

.logo{
    font-family: verdana;
    color: #000000;
    font-size:22px;
}

.active{
    font-weight: bold;
    color: #000000;
}

a.about-anchor{
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

a.projects-anchor{
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

a.contacts-anchor{
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

.intro-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color:  #aaaaaa;
    font-size: 22px;
}

.intro-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.intro-container p:nth-child(3){
    font-family: verdana;
    color: #aaaaaa;
    font-size: 30px;
    line-height: 30px;
}

.intro-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}

.intro-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.about-container{
    width: 80%;
    min-height: 300px;
    background-color: #aaaaaa;
    border-radius: 10px;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-text{
    width: 90%;
    font-family: verdana;
    font-weight: bold;
}

.about-text p:nth-child(1){
    color: #1a1a1a;
    font-size: 30px;
}

.about-text p:nth-child(2){
    color: #3a3a3a;
    font-size: 23px;
    text-indent: 5vh;
}

.projects-title{
    text-align: center;
    font-family: verdana;
    font-size: 40px;
    font-weight: bold;
}

.projects-container{
    display: flex;
    justify-content: space-around;
}

.projects-container img{
    max-width: 95%;
    height: auto;
}

.project1, .project2, .project3{
    width: 30%;
    min-height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    background-color: #aaaaaa;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    font-family: calibri;
    font-size: 20px;
    font-weight: bold;
}

.contacts{
    background-image: url("resources/images/contacts_background.png");
    min-height: 900px;
}

.contacts-container{
    width: 80%;
    min-height: 300px;
    background-color: #3a3a3a;
    border-radius: 10px;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    top: 400px;
    position: relative;
    text-align: center;
}

.contacts-title{
    color: #aaaaaa;
    font-family: calibri;
    font-size: 50px;
}

.contacts-sources{
    color: #6bd5dd;
    font-size: 40px;
}