@charset "utf-8";

html {
    min-height: 100%;
    position: relative;
}

body { 
    margin: 0;
    background-color: #F6F5F5;
    height: 100%;
}

.background {
    margin: 0;
    height: 100%;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,0), rgba(255,0,0,0), rgba(122, 122, 122, 1), rgba(122, 122, 122, 1));
    z-index: -1;
}

.visual {
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -2;
}

#visual1 {
    background-color: #555555;
    width: 80px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    left: 80%;
}

#visual2 {
    background-color: #6bd5dd;
    width: 16px;
}

#visual3 {
    background-color: #6bd5dd;
    width: 4px;
    left: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section{
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #6bd5dd;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    padding: 0px 5%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
}

.logo{
    font-family: verdana;
    color: #000000;
    font-size:22px;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin-left: 50px;
    font-family: verdana;
    color: #3a3a3a;
    font-size: 15px;
    font-weight: 700;
}

.nav-link:hover{
    color: #000000;
}


a.about-anchor{
    display: block;
    position: relative;
    top: -10%;
    visibility: hidden;
}

a.projects-anchor{
    display: block;
    position: relative;
    top: -25%;
    visibility: hidden;
}

a.contacts-anchor{
    display: block;
    position: relative;
    top: -25%;
    visibility: hidden;
}

.intro-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}

.intro-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color:  #aaaaaa;
    font-size: 22px;
}

.intro-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.intro-container p:nth-child(3){
    font-family: verdana;
    color: #aaaaaa;
    font-size: 30px;
    line-height: 30px;
}

.intro-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.intro-container{
    display: flex;
    justify-content: space-around;
    padding: 16% 0px;
}


.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 0px;
}

h1 {
    text-align: center;
    font-family: verdana;
    font-weight: bold;
    color: #1a1a1a;
    font-size: 30px;
}

.about-text {
    font-family: verdana;
    font-weight: bold;
    background-color: #aaaaaa;
    border-radius: 10px;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.4);
    padding: 0px 5%;
    margin: 0px 6%;
    text-indent: 5%;
    
}

.about-text p{
    color: #3a3a3a;
    font-size: 23px;
}

.projects-container{
    display: flex;
    justify-content: space-around;
}

.projects-container h2 {
    line-height: 10px;
}

.projects-container iframe{
    border: 3px #6bd5dded solid;
    border-radius: 3px;
    width: 95%;
    height: auto;
}

.projects-container li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    background-color: #aaaaaa;
    border-radius: 10px;
    text-align: center;
    font-family: calibri;
    font-size: 20px;
    font-weight: bold;
}

.contacts-container{
    background-color: #3a3a3a;
    border-radius: 10px;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0%;
    margin: 0px 6%;
}

.contacts-container h1{
    color: #7A7A7A;
    font-size: 40px;
    padding-bottom: 5%;
}

.contacts-title{
    color: #aaaaaa;
    font-family: calibri;
    font-size: 50px;
}

.contacts-sources{
    color: #6bd5dd;
    font-size: 40px;
}

.contacts-link{
    text-decoration: none currentColor solid;
    color: #6bd5dd;
}

.contacts-link:hover{
    color: #6aeaf3;
}

footer {
    text-align: right;
    margin-right: 5%;
}